html, body {
  margin: 0;
  padding: 0; }

/* Header */
.header {
  background-color: #483B7F; }
  .header .container {
    padding: 1em 0 1em 0; }

#logo h1 {
  text-align: center;
  color: #CEC3FF;
  font-size: 3em;
  padding-top: .25em; }

#logo a:hover {
  text-decoration: none; }

#menu {
  padding-top: 1em; }
  #menu h2 {
    text-align: center;
    color: #CEC3FF; }

.search-form input {
  background: transparent;
  border: 0em;
  border-bottom: 0.1em solid #67617F;
  color: #fff;
  height: 2.5em;
  width: 16em; }

.search-form input:hover, .search-form input:focus {
  border-bottom: 0.1em solid #8F76FF;
  outline: 0em; }

.search-btn {
  background: transparent;
  border: 0em;
  border-bottom: 0.1em solid #67617F;
  color: #CEC3FF;
  height: 2.5em;
  margin: 0 0 0 1em;
  padding: 0 1em; }

#search {
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
  margin: 2em 0 0 0;
  padding-right: 4em; }

#menu .dropdown {
  position: relative;
  list-style: none;
  text-align: center;
  padding-bottom: 2.5em; }

#menu .dropdown-menu {
  position: absolute;
  top: 3em;
  border-radius: 0;
  text-align: center;
  background-color: #67617F;
  left: 50%;
  transform: translateX(-50%);
  width: 16em; }
  #menu .dropdown-menu li {
    display: block;
    margin: 0;
    padding: .25em 1em; }
    #menu .dropdown-menu li a {
      color: #CEC3FF;
      font-size: 1.5em; }
    #menu .dropdown-menu li a:hover {
      background-color: #67617F;
      color: #8F76FF; }

/* Main */
.main {
  width: 100%;
  /*
  height: 500px;
  background: url("../img/tech5.jpeg");
  background-size: cover;
  */
  background-color: none;
  height: 48em;
  perspective: 1px;
  transform: translateZ(-1px);
  overflow-x: hidden;
  overflow-y: auto;
  background: url("../img/tech5.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.main .container {
  padding-top: 10em; }

.main h1 {
  float: right;
  color: #ffffff;
  font-size: 5em; }

.main p {
  color: #ffffff;
  float: right;
  font-size: 3em; }

.main span {
  color: #ffffff; }

/* Supporting */
.supporting {
  background-color: #CEC3FF;
  padding-top: 2.5em;
  padding-bottom: 2.5em; }

.supporting h2 {
  text-align: center;
  color: #483B7F;
  padding-top: 0.5em;
  padding-bottom: 0.5em; }

.supporting a:hover {
  text-decoration: none; }

.bobby {
  display: block;
  height: 20em;
  text-align: center;
  margin: auto; }

.supporting p {
  color: #483B7F;
  padding-top: 2.5em;
  padding-bottom: 2.5em;
  padding-right: 1em;
  padding-left: 1em; }

/* Latest */
#rafael {
  width: 100%;
  height: 48em;
  perspective: 1px;
  transform: translateZ(-1px);
  overflow-x: hidden;
  overflow-y: auto;
  background: url("../img/tech2.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.latest .container {
  padding-top: 10em; }

#juan {
  text-align: center; }

.latest h1 {
  color: #ffffff;
  font-size: 2.2em; }

#date {
  color: #ffffff;
  font-size: 1.8em; }

.latest p {
  color: #ffffff;
  font-size: 1.3em;
  padding-right: 3em;
  padding-left: 3em; }

#miguel {
  text-align: center; }

.latest .btn {
  font-size: 1.25em;
  border-radius: 0em;
  margin: 1.6em auto 5em;
  padding: .5em .5em;
  color: #ffffff;
  width: 11em;
  border: .08em solid #30627E;
  text-transform: uppercase;
  background-color: #483B7F; }

.latest .btn:hover {
  color: #ffffff;
  background-color: #8F76FF; }

/* Footer */
.footer {
  background-color: #483B7F;
  padding-top: 2.5em;
  padding-bottom: 2.5em; }

#frank ul {
  float: left;
  list-style: none;
  margin: 0;
  padding: 0; }

#frank li {
  padding-right: .05em;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: .05em;
  text-align: center;
  display: inline-block;
  font-size: 1.0em;
  color: #CEC3FF; }

#frank ul li a {
  color: #CEC3FF;
  background-color: none; }

#active {
  background-color: #ffffff;
  color: #483B7F; }

#active:hover {
  background-color: #ffffff;
  color: #8F76FF; }

#link {
  color: #CEC3FF; }

#link:hover {
  background-color: #483B7F;
  color: #8F76FF; }

#icon {
  text-align: center; }

#icon img {
  height: 4em;
  padding-right: 1.25em;
  padding-left: 1.25em;
  position: relative; }

.footer h4 {
  text-align: center;
  color: #ffffff;
  padding-top: 1em;
  padding-bottom: 1em; }

/*About and Resources and Search*/
.main2 {
  background-color: #CEC3FF; }

.main2 h2 {
  color: #483B7F;
  text-align: center;
  padding-top: 1.5em;
  padding-bottom: 1.0em; }

.main2 p {
  color: #483B7F;
  padding-top: 1.25em;
  padding-bottom: 2.5em; }

#jzphoto {
  text-align: center;
  display: block;
  margin: auto;
  height: 27em;
  width: 27em; }

#leftphoto {
  padding-top: 4em; }

#techy {
  width: 100%;
  height: 40em;
  text-align: center;
  margin: auto;
  display: block; }

/*Blog*/
/*main1*/
/*supporting1*/
/*Search Page*/
/*main4*/
/*supporting4*/
/*# sourceMappingURL=main.css.map */

/*# sourceMappingURL=main.css.map */
