$header-color: #483B7F;
$text-color: #CEC3FF;
$dark-color: #67617F;
$hover-color: #8F76FF;

@mixin background-size($size) {
  -webkit-background-size: $size;
  -moz-background-size: $size;
  -o-background-size: $size;
  background-size: $size;
}

@mixin parallax-background($file) {
  background: url($file) no-repeat center center fixed;
  @include background-size(cover);
}



html, body {
  margin: 0;
  padding: 0;
  }

/* Header */
.header {
  background-color: $header-color;
  
  .container {
  padding: 15px 0px 15px 0px;
  }
}


#logo h1 {
  text-align: center;
  color: $text-color;
  font-size: 44px;
  padding-top: 15px; }

#logo a:hover {
  text-decoration: none; }

#menu {
  padding-top: 15px;
  h2 {
  text-align: center;
  color: $text-color;
  }
}

.search-form input {
  background: transparent;
  border: 0px;
  border-bottom: 1px solid $dark-color;
  color: #fff;
  height: 30px;
  width: 200px; }

.search-form input:hover, .search-form input:focus {
  border-bottom: 1px solid $hover-color;
  outline: 0px; }

.search-btn {
  background: transparent;
  border: 0px;
  border-bottom: 1px solid $dark-color;
  color: $text-color;
  height: 30px;
  margin: 0 0 0 10px;
  padding: 0 10px; }

#search {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 25px 0 0 0;
  padding-right: 50px; }

#menu .dropdown {
  position: relative;
  list-style: none;
  text-align: center;
  padding-bottom: 30px; }

#menu .dropdown-menu {
  position: absolute;
  top: 35px;
  border-radius: 0;
  text-align: center;
  background-color: $dark-color;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  
  li {
  display: block;
  margin: 0;
  padding: 3px 10px;
  
  	a {
  		color: $text-color;
  		font-size: 18px; 
  	}
  
  	a:hover {
  		background-color: $dark-color;
  		color: $hover-color;
  	}
  
  }
  
}


/* Main */
.main {
  
  width: 100%;
  /*
  height: 500px;
  background: url("../img/tech5.jpeg");
  background-size: cover;
  */
  background-color: none;
  height: 75vh;
  perspective: 1px;
  transform: translateZ(-1px);
  overflow-x: hidden;
  overflow-y: auto;
  @include parallax-background("../img/tech5.jpeg");
  }

.main .container {
  padding-top: 125px; }


.main h1 {
  float: right;
  color: #ffffff;
  font-size: 60px; }

.main p {
  color: #ffffff;
  float: right;
  font-size: 36px; }

.main span {
  color: #ffffff; }

/* Supporting */
.supporting {
  background-color: $text-color;
  padding-top: 30px;
  padding-bottom: 30px; }

.supporting h2 {
  text-align: center;
  color: $header-color;
  padding-top: 30px;
  padding-bottom: 30px; }

.supporting a:hover {
  text-decoration: none; }

.bobby {
  display: block;
  height: 250px;
  text-align: center;
  margin: auto; }

.supporting p {
  color: $header-color;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 10px;
  padding-left: 10px; }

/* Latest */

#rafael {
	width: 100%;
  height: 75vh;
  perspective: 1px;
  transform: translateZ(-1px);
  overflow-x: hidden;
  overflow-y: auto;
   @include parallax-background("../img/tech2.jpeg"); 
}

.latest .container {
  padding-top: 125px;
  
}

#juan {
	text-align: center;
}

.latest h1 {
  color: #ffffff;
  font-size: 32px;

}


#date {
	color: #ffffff;
	font-size: 24px;
}

.latest p {
  color: #ffffff;
  font-size: 18px;
  padding-right: 50px;
  padding-left: 50px;

}

#miguel {
	text-align: center;
}

.latest .btn {
	font-size:16px;
	border-radius:0px;
	margin: 20px auto 60px;
	padding: 10px 20px;
	color: #ffffff;
	width: 200px;
	border: 1px solid #30627E;
	text-transform: uppercase;
	background-color: $header-color;
}

.latest .btn:hover {
	color: #ffffff;
	background-color: #8F76FF;
}

/* Footer */
.footer {
  background-color: $header-color;
  padding-top: 30px;
  padding-bottom: 30px; }

#frank ul {
  float: left;
  font-size: 18px;
  list-style: none;
  margin: 0;
  padding: 0; }

#frank li {
  padding-right: 5px;
  padding-top: 10px;
  padding-bottom: 15px;
  padding-left: 5px;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  color: $text-color; }

#frank ul li a {
  color: $text-color;
  background-color: none; }

#active {
  background-color: #ffffff;
  color: $header-color; }

#active:hover {
  background-color: #ffffff;
  color: $hover-color; }

#link {
  color: $text-color; }

#link:hover {
  background-color: $header-color;
  color: $hover-color; }

#icon {
  text-align: center; }

#icon img {
  height: 50px;
  padding-right: 15px;
  padding-left: 15px;
  position: relative; }

.footer h4 {
  text-align: center;
  color: #ffffff;
  padding-top: 10px;
  padding-bottom: 15px; }



/*About and Resources and Search*/

.main2 {
	background-color: $text-color;
}

.main2 h2 {
	color: $header-color;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 15px;
}

.main2 p {
	color: $header-color;
	padding-top: 15px;
	padding-bottom: 30px;
}

#jzphoto {
	text-align: center;
	display: block;
	margin: auto;
}

#leftphoto {
	padding-top: 75px;
}



#techy {
	width: 100%;
	height: 500px;
	text-align: center;
	margin: auto;
	display: block;
}


/*Blog*/
/*main1*/
/*supporting1*/


/*Search Page*/
/*main4*/
/*supporting4*/

/*# sourceMappingURL=main.css.map */

