$header-color: #483B7F;
$text-color: #CEC3FF;
$dark-color: #67617F;
$hover-color: #8F76FF;
$jumbo-height: 50em;

@mixin background-size($size) {
  -webkit-background-size: $size;
  -moz-background-size: $size;
  -o-background-size: $size;
  background-size: $size;
}

@mixin parallax-background($file) {
  background: url($file) no-repeat center center fixed;
  @include background-size(cover);
}



html, body {
  margin: 0;
  padding: 0;
  background-color: $text-color;
  }

/* Header */
.header {
  background-color: $header-color;
  
  .container {
  padding: .5em 0 .5em 0;
  }
}

#logo {
}

#logo h1 {
  text-align: left;
  color: $text-color;
  font-size: 4.5em;
  padding-top: .25em; }

#logo a:hover {
  text-decoration: none; }

#menu {
  padding-top: .25em;
  h2 {
  text-align: center;
  color: $text-color;
  }
}

#search {

}

.search-form input {
  background: transparent;
  border: 0em;
  border-bottom: .1em solid $dark-color;
  color: #fff;
  height: 2.0em;
  width: 14em; }

.search-form input:hover, .search-form input:focus {
  border-bottom: .1em solid $hover-color;
  outline: 0em; }

.search-btn {
  background: transparent;
  border: 0em;
  border-bottom: .1em solid $dark-color;
  color: $text-color;
  height: 2.0em;
  margin: 0 0 0 1em;
  padding: 0 1em; }

#search {
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
  margin: 1em 0 0 0;
  padding-right: 4em; }

#menu .dropdown {
  position: relative;
  list-style: none;
  text-align: center;
  padding-bottom: 2.5em; }

#menu .dropdown-menu {
  position: absolute;
  top: 3em;
  border-radius: 0;
  text-align: center;
  background-color: $dark-color;
  left: 50%;
  transform: translateX(-50%);
  width: 16em;
  
  li {
  display: block;
  margin: 0;
  padding: .25em 1em;
  
  	a {
  		color: $text-color;
  		font-size: 1.5em; 
  	}
  
  	a:hover {
  		background-color: $dark-color;
  		color: $hover-color;
  	}
  
  }
  
}


/* Main */
.main {
  
  width: 100%;
  /*
  height: 500px;
  background: url("../img/tech5.jpeg");
  background-size: cover;
  */
  background-color: none;
  height: $jumbo-height;
  perspective: 1px;
  transform: translateZ(-1px);
  overflow-x: hidden;
  overflow-y: auto;
  @include parallax-background("../img/tech5.jpeg");
  }

.main .container {
  padding-top: 10em; }


.main h1 {
  float: right;
  color: #ffffff;
  font-size: 4em; }

.main p {
  color: #ffffff;
  float: right;
  font-size: 2em; }

.main span {
  color: #ffffff; }

/* Supporting */
.supporting {
  background-color: $text-color;
  padding-top: 2.5em;
  padding-bottom: 2.5em; }

.supporting h2 {
  text-align: center;
  color: $header-color;
  padding-top: 0.5em;
  padding-bottom: 0.5em; }

.supporting a:hover {
  text-decoration: none; }

.bobby {
  display: block;
  height: 20em;
  text-align: center;
  margin: auto; }

.supporting p {
  color: $header-color;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  padding-right: 1em;
  padding-left: 1em;
  font-size: 1.25em;
  }

/* Latest */

#rafael {
	width: 100%;
  height: $jumbo-height;
  perspective: 1px;
  transform: translateZ(-1px);
  overflow-x: hidden;
  overflow-y: auto;
   @include parallax-background("../img/tech2.jpeg"); 
}

.latest .container {
  padding-top: 10em;
  
}

#juan {
	text-align: center;
}

.latest h1 {
  color: #ffffff;
  font-size: 2.2em;

}


#date {
	color: #ffffff;
	font-size: 1.8em;
}

.latest p {
  color: #ffffff;
  font-size: 1.3em;
  padding-right: 3em;
  padding-left: 3em;

}

#miguel {
	text-align: center;
}

.latest .btn {
	font-size: 1.25em;
	border-radius: 0em;
	margin: 1.6em auto 5em;
	padding: .5em .5em;
	color: #ffffff;
	width: 11em;
	border: .08em solid #30627E;
	text-transform: uppercase;
	background-color: $header-color;
}

.latest .btn:hover {
	color: #ffffff;
	background-color: #8F76FF;
}

/* Footer */
.footer {
  background-color: $header-color;
  padding-top: 2.5em;
  padding-bottom: 2.5em;
  }

#frank ul {
  float: left;
  list-style: none;
  margin: 0;
  padding: 0; }

#frank li {
  padding-right: 0em;
  padding-top: .75em;
  padding-bottom: .75em;
  padding-left: 0em;
  text-align: center;
  display: inline-block;
  font-size: .8em;
  color: $text-color; }

#frank ul li a {
  color: $text-color;
  background-color: none; }

#active {
  background-color: #ffffff;
  color: $header-color; }

#active:hover {
  background-color: #ffffff;
  color: $hover-color; }

#link {
  color: $text-color; }

#link:hover {
  background-color: $header-color;
  color: $hover-color; }

#icon {
  text-align: right; }

#icon img {
  height: 3em;
  padding-right: .75em;
  padding-left: .75em;
  position: relative; }

.footer h4 {
  text-align: center;
  color: #ffffff;
  padding-top: .25em;
  padding-bottom: .5em;
 }



/*About and Resources and Search*/

.main2 {
	background-color: $text-color;
}

.main2 h2 {
	color: $header-color;
	text-align: center;
	padding-top: 1.5em;
	padding-bottom: 1.0em;
}

.main2 p {
	color: $header-color;
	padding-top: 1.25em;
	padding-bottom: 2.5em;
	font-size: 1.25em;
}

#jzphoto {
	text-align: center;
	display: block;
	margin: auto;
	height: 30em;
	width: 30em;
	margin-top: 4em;
}




#techy {
	width: 100%;
	height: 40em;
	text-align: center;
	margin: auto;
	display: block;
}


/*Blog*/
/*mainabc*/

.main-1 {
	color: $header-color;
	h3 {
		padding: 1em 0 1em 0;
	}
	

}


.ricky {
	width: 100%;
	height: 75vh;
}

.supporting-1 {
	color: $header-color;
	
	p {
		padding: 1em 0 1em 0;
		font-size: 1.25em;
	}

}

.blog-post {
	margin-right: 15em;
	overflow: hidden;
	padding: 1em 0 1em 0;
	

}

.sidebar {
	position: fixed;
	text-align: right;
	margin-top: 3em;
    height: 30em;
    width: 10em;
    float: right;
    margin-left: 66%;
    z-index:1;
    
    ul {
    	list-style: none;
    	padding: 1em 0 1em 0;
    	
    	li a {
    	text-decoration: none;
    	color: $header-color;
    	padding: 1em 0 1em 0;
    	}
    	li a:hover {
    	text-decoration: none;
    	color: $header-color;
    	padding: 1em 0 1em 0;
    	}
    	li span {
    	padding-top: 1em;
    	
    	}
    	li p {
    	padding-bottom: 1em;
    	}
    	
    }
    
}

h3 {
    color: $header-color;
}




/*Search Page*/
/*main4*/
/*supporting4*/

/*# sourceMappingURL=main.css.map */